In [1]:
library(dplyr)
library(plotly)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Loading required package: ggplot2


Attaching package: 'plotly'


The following object is masked from 'package:ggplot2':

    last_plot


The following object is masked from 'package:stats':

    filter


The following object is masked from 'package:graphics':

    layout

In [2]:
df <- read.csv('athletes_events.csv')
head(df)

  ID Name                     Sex Age Height Weight Team           NOC
1 1  A Dijiang                M   24  180    80     China          CHN
2 2  A Lamusi                 M   23  170    60     China          CHN
3 3  Gunnar Nielsen Aaby      M   24   NA    NA     Denmark        DEN
4 4  Edgar Lindenau Aabye     M   34   NA    NA     Denmark/Sweden DEN
5 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
6 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
  Games       Year Season City      Sport
1 1992 Summer 1992 Summer Barcelona Basketball
2 2012 Summer 2012 Summer London    Judo
3 1920 Summer 1920 Summer Antwerpen Football
4 1900 Summer 1900 Summer Paris     Tug-Of-War
5 1988 Winter 1988 Winter Calgary   Speed Skating
6 1988 Winter 1988 Winter Calgary   Speed Skating
  Event                              Medal
1 Basketball Men's Basketball        NA
2 Judo Men's Extra-Lightweight       NA
3 Football Men's Football            NA
4 Tug-Of-War Men's Tug-Of-War        Gold
5 Speed Skating Women's 500 metres   NA
6 Speed Skating Women's 1,000 metres NA

# The tasks

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- ___14 and 12___ 
- 16 and 12
- 13 and 11

In [13]:
min(df[df['Sex'] == 'M' & df['Year'] == 1996, 'Age'], na.rm=T)

[1] 14

In [14]:
min(df[df['Sex'] == 'F' & df['Year'] == 1996, 'Age'], na.rm=T)

[1] 12

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- ___1.5___ 
- 2.5
- 7.7

In [27]:
df1 <- df[df['Sport'] == 'Gymnastics' & df['Year'] == 2000 & df['Sex'] == 'M',]
df2 <- df[df['Year'] == 2000 & df['Sex'] == 'M',]
round(length(unique(df1$Name))/length(unique(df2$Name))*100, 1)

[1] 1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- ___182.4 and 9.1___

In [31]:
df3 <- df[df['Sport'] == 'Basketball' & df['Sex'] == 'F' & df['Year'] == 2000,]
round(mean(df3$Height), 1)

[1] 182.4

In [32]:
round(sd(df3$Height), 1)

[1] 9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- ___Bobsleigh___ 
- Weightlifting
- Boxing

In [64]:
df[df$Year == 2002 & !is.na(df$Weight) & df$Weight == max(df[df$Year == 2002,]['Weight'], na.rm=TRUE),][1,'Sport']

[1] Bobsleigh
66 Levels: Aeronautics Alpine Skiing Alpinism Archery ... Wrestling

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- ___3___

In [66]:
df4 = df[df$Name == 'Pawe Abratkiewicz',]
nrow(df4[!duplicated(df4$Games),])

[1] 3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- ___2___ 
- 3

In [69]:
nrow(df[df['Year'] == 2000 & df['Team'] == 'Australia' & df['Sport'] == 'Tennis' & !is.na(df$Medal) & df['Medal'] == 'Silver',])

[1] 2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- ___Yes___ 
- No

In [71]:
nrow(df[df['Year'] == 2016 & df['Team'] == 'Switzerland' & !is.na(df$Medal),]) < nrow(df[df['Year'] == 2016 & df['Team'] == 'Serbia' & !is.na(df$Medal),])

[1] TRUE

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- ___[45-55] and [25-35) correspondingly___
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [88]:
oldest = df[df['Year'] == 2014 & (55 >= df['Age']) & (df['Age'] >= 45), ]
old = df[df['Year'] == 2014 & (45 > df['Age']) & (df['Age'] >= 35), ]
adults = df[df['Year'] == 2014 & (35 > df['Age']) & (df['Age'] >= 25), ]
juniors = df[df['Year'] == 2014 & (25 > df['Age']) & (df['Age'] >= 15), ]

count <- c(length(unique(oldest$Name)), length(unique(old$Name)), length(unique(adults$Name)), length(unique(juniors$Name)))
ages <- c('45-55', '35-45', '25-35', '15-25')
df5 <- data.frame(count, ages)

# the most
df5[df5$count == max(df5$count), 'ages']

[1] 25-35
Levels: 15-25 25-35 35-45 45-55

In [89]:
# the fewest
df5[df5$count == min(df5$count), 'ages']

[1] 45-55
Levels: 15-25 25-35 35-45 45-55

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- ___No, Yes___ 
- No, No

In [90]:
# for Lake Placid
print(nrow(df[(df['City'] == 'Lake Placid') & (df$Season == 'Summer'),]) > 0)

[1] FALSE

In [91]:
# for Sankt Moritz
print(nrow(df[(df['City'] == 'Sankt Moritz') & (df$Season == 'Winter'),]) > 0)

[1] TRUE

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- ___34___

In [93]:
df6 = df[df$Year == 1995,]
df7 = df[df$Year == 2016,]
abs(length(unique(df6$Sport)) - length(unique(df7$Sport)))

[1] 34