<center>
<img src="../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd

In [3]:
# Change the path to the dataset file if needed. 
PATH = 'athletes_events.csv'

In [7]:
df = pd.read_csv(PATH)
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.shape

(271116, 15)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [12]:
df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

# The tasks

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- ___14 and 12___ 
- 16 and 12
- 13 and 11

In [41]:
# for females
min(df[(df['Sex'] == 'F') & (df['Year'] == 1996)]['Age'])

12.0

In [40]:
# for males
min(df[(df['Sex'] == 'M') & (df['Year'] == 1996)]['Age'])

14.0

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- ___1.5___ 
- 2.5
- 7.7

In [66]:
round(100*(len(df[(df['Year'] == 2000) & (df['Sex'] == 'M') & (df['Sport'] == 'Gymnastics')]['Name'].unique()) / \
len(df[(df['Year'] == 2000) & (df['Sex'] == 'M')]['Name'].unique())),1)

1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- ___182.4 and 9.1___

In [72]:
# avg
round((df[(df['Year'] == 2000) & (df['Sport'] == 'Basketball') & (df['Sex'] == 'F')]['Height'].mean()),1)

182.4

In [73]:
# stddev
round((df[(df['Year'] == 2000) & (df['Sport'] == 'Basketball') & (df['Sex'] == 'F')]['Height'].std()),1)

9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- ___Bobsleigh___ 
- Weightlifting
- Boxing

In [90]:
weight = max(df[(df['Year'] == 2002)]['Weight'])
tuple(df[(df['Year'] == 2002) & (df['Weight'] == weight)]['Sport'])[0]

'Bobsleigh'

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- ___3___

In [97]:
len(df[(df['Name'] == 'Pawe Abratkiewicz')]['Year'].unique())

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- ___2___ 
- 3

In [104]:
len(df[(df['Year'] == 2000) & (df['Team'] == 'Australia') & (df['Sport'] == 'Tennis') & (df['Medal'] == 'Silver')])

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- ___Yes___ 
- No

In [126]:
medals = ['Bronze', 'Silver', 'Gold']
len(df[(df['Team'] == 'Switzerland') & (df['Year'] == 2016) & (df['Medal'].isin(medals) == True)]) < \
len(df[(df['Team'] == 'Serbia') & (df['Year'] == 2016) & (df['Medal'].isin(medals) == True)])

True

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- ___[45-55] and [25-35) correspondingly___
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [179]:
values = [len(df[(df['Year'] == 2014) & (df['Age'] >= 15) & (df['Age'] < 25)]['Name'].unique()), \
          len(df[(df['Year'] == 2014) & (df['Age'] >= 25) & (df['Age'] < 35)]['Name'].unique()), \
          len(df[(df['Year'] == 2014) & (df['Age'] >= 35) & (df['Age'] < 45)]['Name'].unique()), \
          len(df[(df['Year'] == 2014) & (df['Age'] >= 45) & (df['Age'] < 55)]['Name'].unique())]
ages = ['15-25', '25-35', '35-45', '45-55']
d = {'participants': pd.Series(values, index = [1,2,3,4]), 'ages': pd.Series(ages, index = [1,2,3,4])}
df2 = pd.DataFrame(d)
df2

   participants   ages
1          1193  15-25
2          1397  25-35
3           150  35-45
4             4  45-55

In [183]:
# for the fewest participants
tuple(df2.loc[df2['participants'].idxmin()])[1]

'45-55'

In [182]:
# for the most participants
tuple(df2.loc[df2['participants'].idxmax()])[1]

'25-35'

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- ___No, Yes___ 
- No, No

In [134]:
'Lake Placid' in df[df['Season'] == 'Summer']['City'].unique()

False

In [135]:
'Sankt Moritz' in df[df['Season'] == 'Winter']['City'].unique()

True

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- ___34___

In [142]:
abs((len(df[df['Year'] == 1995]['Sport'].unique())) - \
    (len(df[df['Year'] == 2016]['Sport'].unique())))

34